<p>cadastrar-todo works!</p>

<input type="text" placeholder="Digite nome"  [(ngModel)]="data.name" />
<input type="text" placeholder="Digite ID"  [(ngModel)]="data.id" />
<input type="text" [(ngModel)]="data.done" />

<exibir-todo [todoDeEntrada]="data"></exibir-todo>
<button (click)="equal()">click</button>












<!-- <input [(ngModel)]="name"> -->
<!--- <input type="text" placeholder="Digite o nome"> 
<input type="text" placeholder="id">
<input type="text" placeholder="verdadeiro ou falso">
<exibir-todo [todoDeEntrada] = "todos"></exibir-todo>
-->


 