
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><a routerLink="/tarefas">Tarefa</a></button>
  <button mat-menu-item><a routerLink="/contratos">Contrato</a></button>
</mat-menu>


