
<div id ="modal" *ngIf="mode =='add'" class="animated flipInX">
    <h1 class="text-center">Nova tarefa</h1>
    <form [formGroup]="form">
  
        <input type="text" placeholder="Titulo da tarefa"
        maxlength="60" formControlName="title">
        <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">este campo deve conter entre 3e 60 caracteres</small>
        <p class="text-center">
        <button class="button" [disabled]="form.invalid" (click) = "add()" >
          <i class="far fa-save"></i>
          Salvar</button>
      </p>
        </form>
    <br><br>
  </div>