<ul>
  <li *ngFor="let t of todos">
    <exibir-todo [todoDeEntrada]="t"></exibir-todo>
  </li>
</ul>

<cadastrar-todo></cadastrar-todo>








<!-- <button class="add-button animated fadeInUp button"  *ngIf = "mode == 'list'">
  <i class="fas fa-plus-circle"></i>
  Nova Tarefa
</button>

<button class="add-button animated fadeInUp button"  *ngIf = "mode == 'add'">
   Cancelar
  <i class="fas fa-times"></i>
</button>

 <p class="data"> {{hoje | date:'dd-MM-yyyy  hh:mm:ss a'}}</p> -->

