body{

  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #30268b;
  }

ul{
  text-align: left;
  margin:10px;
  padding:10px;
  list-style: none;
  background: #fff;
  border-radius: 5px;
 }

button{
  cursor:pointer;

}

li{
  padding: 15px;
  margin:10px;
  font-size: 1em;
  font-style: italic;
  border-bottom: 2px solid gray;
}

li>button{
  border:none;
  background-color: #fff;
  font-size: 1em;
  float: right;
  opacity: 0.6;
  transition: opacity 1s;

}

.title{
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 5em;
 
  text-align: center;

}

.text-center{
  text-align: center;

}

.button{
  background-color: #000;
  border:none;
  padding:20px;
  color:#fff;
  border-radius: 30px;
  font-size: 1em;
}

#modal{
  text-align: left;
  margin:10px;
  padding:10px;
  background: #fff;

}


input{
  width: 100%;
  line-height:50px;
  text-indent:10px;
  font-size:1.2em;
}

.data{
  padding:30px;
  text-align: center;
 font-size: 20px;
 font-weight: bold;
}